* {
    box-sizing: border-box;
}
.container
{
    display: flex;
    gap: 20px;
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
    height: calc(90vh - 130px); 
    padding: 0 15px 15px 15px; 
}

.programming-block
{
    flex: 1;
    width: 0;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 12px 2px #6A5ACD;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    background-color: #F0FFF0;
}

.programming-block:hover
{
    flex: 1;
    width: 0;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 12px 2px #008000;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    background-color: #F0FFFF;
}

.programming-block img
{
    width: 50%;
    max-height: 56%;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.programming-block p
{
    margin: 0;
    font-size: 1.1rem;
    overflow: hidden; 
    text-overflow: ellipsis;
}