.justified-text
{
    border-radius: 7px;
    box-shadow: 0px 0px 12px 2px #6495ED;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    background-color: #F0FFF0;
    cursor: pointer;
}

.justified-text:hover
{
    border-radius: 7px;
    box-shadow: 0px 0px 12px 2px #3CB371;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    background-color: #F0FFFF;
    cursor: pointer;
}